*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    background-color: #000;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 15px;
    background-color: rgb(58, 58, 58);
    padding: 20px;
    border-radius: 10px;
}

#container form input{
    width: 100%;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
}

.btn-cadastrar{
    padding: 8px ;
    border: none;
    margin: 15px 0px;
    background-color: rgb(96, 203, 96);
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-cadastrar:hover{
    filter: brightness(1.1);
}